# Toggle simulation mode (offline mock)
HIVELARI_TEST_MODE=true

# Scoped Space Credentials (only required if HIVELARI_TEST_MODE is false)
VELARI_SPACE_ID=
VELARI_PUBLIC_KEY=
VELARI_SECRET_KEY=

# Defaults to https://api.hivelari.com
VELARI_API_URL=
